<html>

<head>
    <link rel="stylesheet" type="text/css" href="./assets/style.css">
</head>

<body>
{{!-- 	<video autoplay muted loop id="myVideo"> --}}
{{!-- 		<source src="./assets/pynklu.mp4" type="video/mp4"> --}}
{{!-- 	</video> --}}



<div id="container">
    <div id="flexContainer">
        <div class="flexBox">
            <div style="margin-bottom: 1em;">
                <div class="logo" style="display:flex;">
                    <img src="./assets/jrc_round.jpg"/>
                    <h2 style="margin-left:1em;">{{title}} Team Standings</h2>
                </div>
            </div>

            <table id="tableDrivers">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Team</th>
                    {{#each headerLocations}}
                        <th><img src="./assets/country-flags/{{this}}.png"/></th>
                    {{/each}}
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                {{#each rows}}{{#with this}}
                    <tr>
                        <td>{{standing.currentPosition}}</td>
                        <td>
                            {{#if positive}}
                                <span class="positive"><i
                                        class="arrow up"></i>&nbsp;{{standing.positionChange}}</span>
                            {{/if}}
                            {{#if neutral}}
                                <span class="neutral">=</span>
                            {{/if}}
                            {{#if negative}}
                                <span class="negative"><i
                                        class="arrow down"></i>&nbsp;{{standing.positionChange}}</span>
                            {{/if}}
                        </td>
                        <td>
                            <img src="./assets/teams/{{standing.name}}.png" style="max-width:2em; max-height:2em;"/>
                        </td>
                        <td class="text-left bold">{{standing.name}}</td>
                        {{#each results}}{{#with this}}
                            <td>
                                {{totalPoints}}
                            </td>
                        {{/with}}{{/each}}
                        <td class="bold">{{standing.totalPoints}}</td>
                    </tr>
                {{/with}}{{/each}}
                </tbody>

            </table>
        </div>

    </div>
</div>

<div align="center">
    {{#with links.driver}}
        <h2>Driver Standings</h2>
        <ul>
            {{#each this}}
                <li><a style="text-decoration:none;" href="{{href}}">{{link}}</a></li>
            {{/each}}
        </ul>
    {{/with}}
    {{#with links.team}}
        <h2>Team Standings</h2>
        <ul>
            {{#each this}}
                <li><a style="text-decoration:none;" href="{{href}}">{{link}}</a></li>
            {{/each}}
        </ul>
    {{/with}}
</div>

<div id="particles-js"></div>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="./assets/particleConfig.js"></script>
</body>

</html>