<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/animation.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/w3.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="./assets/{{logo}}">
</head>

<body style="{{this.backgroundStyle}}">
    {{{navigation}}}
    <div id="container">
        <div id="flexContainer">
            <div class="flexBox">
                <div style="margin-bottom: 1em;" class="w3-hide-medium w3-hide-small">
                    <div class="logo" style="display:flex;">
                        <img src="./assets/{{logo}}" />
                        <h2 style="margin-left:1em;">{{title}} {{localization.driver_standings}}</h2>
                    </div>
                </div>

                <table id="tableDrivers">
                    <thead>
                        <tr>
                            <th>{{localization.pos}}</th>
                            <th></th>
                            <th>{{localization.nat}}</th>
                            <th>{{localization.driver}}</th>
                            {{#if overall}}
                                <th>{{localization.div}}</th>
                            {{/if}}
                            {{#if showTeam}}
                                {{#unless hideTeamLogoColumn}}
                                    <th>{{localization.team}}</th>
                                {{/unless}}
                                {{#if showTeamNameTextColumn}}
                                    <th>{{localization.team_name}}</th>
                                {{/if}}
                            {{/if}}
                            {{#if showCar}}
                            <th>{{localization.car}}</th>
                            {{/if}}

                            {{#each headerLocations}}
                            <th>
                                <a href="./{{../divisionName}}-{{this.eventId}}-driver-results.html" style="{{#if this.disableLink}}pointer-events: none;{{/if}}">
                                    <img src="./assets/country-flags/{{this.locationCode}}.png" alt="{{this.locationCode}}" title="{{this.locationCode}}"/>
                                </a>
                            </th>

                            {{/each}}
                            <th>{{localization.points}}</th>
                            {{#if showPointsAfterDropRounds}}
                                <th>{{localization.adr}}</th>
                            {{/if}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each rows}}
                        <tr style="background-color: {{this.colour}}">
                            <td>{{this.standing.currentPosition}}</td>
                            <td>
                                {{#if this.positive}}
                                <span class="positive"><i
                                        class="arrow up"></i>&nbsp;{{this.standing.positionChange}}</span>
                                {{/if}}
                                {{#if this.neutral}}
                                <span class="neutral">=</span>
                                {{/if}}
                                {{#if this.negative}}
                                <span class="negative"><i
                                        class="arrow down"></i>&nbsp;{{this.standing.positionChange}}</span>
                                {{/if}}
                            </td>
                            <td>
                                <img src="./assets/country-flags/{{this.country.code}}.png" style="max-width:1.5em; max-height:1.5em;" alt="{{this.country.code}}" title="{{this.country.code}}"/>
                            </td>
                            <td class="text-left bold">{{this.driver.name}}</td>
                            {{#if ../overall}}
                                <td>{{this.divisionDisplayName}}</td>
                            {{/if}}
                            {{#if ../showTeam}}
                                {{#unless ../hideTeamLogoColumn}}
                                    <td>
                                        <img src="{{this.teamLogo}}" style="max-width:2em; max-height:2em;" alt="{{this.driver.teamId}}" title="{{this.driver.teamId}}"/>
                                    </td>
                                {{/unless}}
                                {{#if ../showTeamNameTextColumn}}
                                    <td class="text-left">{{this.driver.teamId}}</td>
                                {{/if}}
                            {{/if}}
                            {{#if ../showCar}}
                                {{#if ../showCarName}}
                                    <td class="text-left">
                                        {{this.driver.car}}
                                    </td>
                                {{else}}
                                    <td>
                                        <img src="./assets/cars/{{this.car}}.png" style="max-width:2em; max-height:2em;" alt="{{this.car}}" title="{{this.car}}"/>
                                    </td>
                                {{/if}}
                            {{/if}}
                            {{#each this.results}}{{#with this}}
                            <td>
                                {{pointsDisplay}}
                            </td>
                            {{/with}}{{/each}}
                            <td class="bold">{{this.standing.totalPoints}}</td>
                            {{#if ../showPointsAfterDropRounds}}
                                <td class="bold">{{this.standing.totalPointsAfterDropRounds}}</td>
                            {{/if}}
                        </tr>
                        {{/each}}
                    </tbody>

                </table>
                <div style="margin:0 auto; text-align:center;">
                    <p>{{localization.last_updated}}: {{lastUpdatedAt}}</p>
                </div>
                {{#if showPointsAfterDropRounds}}
                    <div style="margin:0 auto; text-align:center;">
                        <p>{{afterDropRoundMessage}}</p>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{{scripts}}}
</body>
</html>