<html>

<head>
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/animation.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/w3.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
{{{navigation}}}
<div id="container">
    <div id="flexContainer">
        <div class="flexBox">
            <div style="margin-bottom: 1em;" class="w3-hide-large w3-hide-medium w3-hide-small">
                <div class="logo" style="display:flex;">
                    <img src="./assets/{{logo}}" />
                    <h2 style="margin-left:1em;">{{title}} {{location.countryName}} Driver Results</h2>
                </div>
            </div>

            <table id="tableDrivers">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Nat</th>
                    <th>Driver</th>
                    {{#if overall}}
                        <th>Div</th>
                    {{/if}}
                    {{#if showTeam}}
                        <th>Team</th>
                    {{/if}}
                    {{#if showCar}}
                        <th>Car</th>
                    {{/if}}
                    <td>PS</td>
                    {{#unless overall}}
                        <td>Diff</td>
                    {{/unless}}
                    <td>Total</td>
                    {{#unless overall}}
                        <td>Diff</td>
                    {{/unless}}
                    <td>PS Points</td>
                    <td>Points</td>
                    <td>Total Points</td>
                </tr>
                </thead>
                <tbody>
                {{#each rows}}
                    <tr>
                        <td>{{this.position}}</td>
                        <td>
                            <img src="./assets/country-flags/{{this.country.code}}.png" style="max-width:1.5em; max-height:1.5em;" />
                        </td>
                        <td class="text-left bold">{{this.name}}</td>
                        {{#if ../overall}}
                            <td>{{this.divisionDisplayName}}</td>
                        {{/if}}
                        {{#if ../showTeam}}
                            <td>
                                <img src="./assets/teams/{{this.driver.teamId}}.png" style="max-width:2em; max-height:2em;" />
                            </td>
                        {{/if}}
                        {{#if ../showCar}}
                            <td>
                                <img src="./assets/cars/{{this.car}}.png" style="max-width:2em; max-height:2em;" />
                            </td>
                        {{/if}}
                        <td>{{this.entry.stageTime}}</td>
                        {{#unless ../overall}}
                            <td>{{this.entry.stageDiff}}</td>
                        {{/unless}}
                        <td>{{this.entry.totalTime}}</td>
                        {{#unless ../overall}}
                            <td>{{this.entry.totalDiff}}</td>
                        {{/unless}}
                        <td>{{this.powerStagePoints}}</td>
                        <td>{{this.overallPoints}}</td>
                        <td class="bold">{{this.pointsDisplay}}</td>
                    </tr>
                {{/each}}
                </tbody>

            </table>
            <div style="margin:0 auto; text-align:center;">
                <p>last updated at: {{lastUpdatedAt}}</p>
            </div>
        </div>
    </div>
</div>

<!--
    DROPDOWN
-->
<script>
    function openNav() {
        var x = document.getElementById("mobileNav");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
<!--
    BACKGROUND ANIMATION
-->
<div id="particles-js"></div>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="./assets/particleConfig.js"></script>
</body>

</html>