<div class="container">
    <div class="flexContainer">
        <div class="flexBox">
            <div style="margin-bottom: 1em;" class="hide-medium hide-small">
                <div class="logo" style="display:flex;">
                    <img src="./assets/{{logo}}" />
                    <h2 style="margin-left:1em;">{{fullTitle}}</h2>
                </div>
            </div>
            <div class="table-scroll-wrapper">
                <table id="tableDrivers">
                    <thead>
                    <tr>
                        <th class="th-pos">{{localization.pos}}</th>
                        <th class="th-nat">{{localization.nat}}</th>
                        <th class="th-driver">{{localization.driver}}</th>
                        {{#if overall}}
                            <th class="th-div">{{localization.div}}</th>
                        {{/if}}
                        {{#if showTeam}}
                            {{#unless hideTeamLogoColumn}}
                                <th class="th-team-logo">{{localization.team}}</th>
                            {{/unless}}
                            {{#if showTeamNameTextColumn}}
                                <th class="th-team-name">{{localization.team_name}}</th>
                            {{/if}}
                        {{/if}}
                        {{#if showTeam2LogoColumn}}
                            <th class="th-team2">{{team2ColumnName}}</th>
                        {{/if}}
                        {{#if showCar}}
                            <th class="th-car">{{localization.car}}</th>
                            {{#if showCarName}}
                                <th class="th-car-name">{{localization.car_name}}</th>
                            {{/if}}
                        {{/if}}
                        {{#if showPowerStage}}
                            <th class="th-ps">{{localization.ps}}</th>
                            <th class="th-diff">{{localization.diff}}</th>
                        {{/if}}
                        <th class="th-total">{{localization.total}}</th>
                        <th class="th-diff">{{localization.diff}}</th>
                        {{#if showSuperRallyColumn}}
                            <th class="th-sr">{{localization.sr}}</th>
                        {{/if}}
                        {{#if showLegPoints}}
                            {{#each event.legs}}
                                <th class="th-leg">
                                    <a href="{{this.legUrl}}">{{this.legColumnHeader}}</a>
                                </th>
                            {{/each}}
                        {{/if}}
                        {{#if showStagePoints}}
                            <th class="th-stage-points">{{localization.stage_points}}</th>
                        {{/if}}
                        {{#if showPowerStagePoints}}
                            <th class="th-ps-points">{{localization.ps}} {{localization.points}}</th>
                        {{/if}}
                        <th class="th-points">{{localization.points}}</th>
                        <th class="th-total-points">{{localization.total_points}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each rows}}
                        <tr>
                            <td class="td-pos">{{this.position}}</td>
                            <td class="td-nat">
                                <img src="./assets/country-flags/{{this.country.code}}.png" style="max-width:1.5em; max-height:1.5em;" alt="{{this.country.code}}" title="{{this.country.code}}"/>
                            </td>
                            <td class="td-driver text-left bold">{{this.driver.name}}</td>
                            {{#if ../overall}}
                                <td class="td-div">{{this.divisionDisplayName}}</td>
                            {{/if}}
                            {{#if ../showTeam}}
                                {{#unless ../hideTeamLogoColumn}}
                                    <td class="td-team-logo">
                                        <img src="{{teamLogo}}" style="max-width:2em; max-height:2em;" alt="{{this.teamId}}" title="{{this.teamId}}"/>
                                    </td>
                                {{/unless}}
                                {{#if ../showTeamNameTextColumn}}
                                    <td class="td-team-name text-left">{{this.teamId}}</td>
                                {{/if}}
                        {{/if}}
                            {{#if ../showTeam2LogoColumn}}
                                <td class="td-team2">
                                    <img src="{{this.team2Logo}}" style="max-width:2em; max-height:2em;" alt="{{this.driver.team2Id}}" title="{{this.driver.team2Id}}"/>
                                </td>
                            {{/if}}
                            {{#if ../showCar}}
                                <td class="td-car">
                                    <img src="./assets/cars/{{this.car}}.png" style="max-width:2em; max-height:2em;" alt="{{this.car}}" title="{{this.car}}"/>
                                </td>
                                {{#if ../showCarName}}
                                    <td class="td-car-name text-left">
                                        {{this.entry.vehicleName}}
                                    </td>
                                {{/if}}
                            {{/if}}
                            {{#if ../showPowerStage}}
                                <td class="td-ps">{{this.stageTimeDisplay}}</td>
                                <td class="td-diff">{{this.stageDiffDisplay}}</td>
                            {{/if}}
                            {{#if this.entry.extraInfo}}
                            <td class="td-total popup" onclick="openPopup('{{this.entry.name}}')">
                                {{this.totalTimeDisplay}}
                                <span class="popuptext" id="{{this.entry.name}}">{{this.entry.extraInfo}}</span>
                            </td>
                            {{else}}
                            <td class="td-total">{{this.totalTimeDisplay}}</td>
                            {{/if}}
                            <td class="td-diff">{{this.totalDiffDisplay}}</td>
                            {{#if ../showSuperRallyColumn}}
                                <td class="td-sr">
                                    {{this.entry.superRally}}
                                </td>
                            {{/if}}
                            {{#if ../showLegPoints}}
                                {{#each this.legPoints}}
                                    <td class="td-leg">{{this}}</td>
                                {{/each}}
                            {{/if}}
                            {{#if ../showStagePoints}}
                                <td class="td-stage-points">{{this.stagePoints}}</td>
                            {{/if}}
                            {{#if ../showPowerStagePoints}}
                                <td class="td-ps-points">{{this.powerStagePoints}}</td>
                            {{/if}}
                            <td class="td-points">{{this.overallPoints}}</td>
                            <td class="td-total-points bold">{{this.pointsDisplay}}</td>
                        </tr>
                    {{/each}}
                    </tbody>

                </table>
            </div>
            <div style="margin:0 auto; text-align:center;">
                <p>{{localization.last_updated}}: {{lastUpdatedAt}}</p>
            </div>
            {{#if event.enduranceRoundMultiplier}}
                <div style="margin:0 auto; text-align:center;">
                    <p>{{localization.endurance_multiplied}} {{event.enduranceRoundMultiplier}}</p>
                </div>
            {{/if}}
            {{#if fullResultsLink}}
                <div style="margin:0 auto; text-align:center;">
                    <a href="{{fullResultsLink}}" target="_none">{{localization.full_results}}</a>
                </div>
            {{/if}}
        </div>
    </div>
</div>
