<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/animation.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/w3.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="./assets/{{logo}}">
</head>

<body style="{{this.backgroundStyle}}">
{{{navigation}}}
<div id="container">
    <div id="flexContainer">
        <div class="flexBox">
            <div style="margin-bottom: 1em;" class="w3-hide-medium w3-hide-small">
                <div class="logo" style="display:flex;">
                    <img src="./assets/{{logo}}" />
                    <h2 style="margin-left:1em;">{{fullTitle}}</h2>
                </div>
            </div>

            <table id="tableDrivers">
                <thead>
                <tr>
                    <th>{{localization.pos}}</th>
                    <th>{{localization.nat}}</th>
                    <th>{{localization.driver}}</th>
                    {{#if overall}}
                        <th>{{localization.div}}</th>
                    {{/if}}
                    {{#if showTeam}}
                        {{#unless hideTeamLogoColumn}}
                            <th>{{localization.team}}</th>
                        {{/unless}}
                        {{#if showTeamNameTextColumn}}
                            <th>{{localization.team_name}}</th>
                        {{/if}}
                    {{/if}}
                    {{#if showCar}}
                        <th>{{localization.car}}</th>
                        {{#if showCarName}}
                            <th>{{localization.car_name}}</th>
                        {{/if}}
                    {{/if}}
                    {{#if showPowerStage}}
                        <td>{{localization.ps}}</td>
                        <td>{{localization.diff}}</td>
                    {{/if}}
                    <td>{{localization.total}}</td>
                    <td>{{localization.diff}}</td>
                    {{#if showSuperRallyColumn}}
                        <td>{{localization.sr}}</td>
                    {{/if}}
                    {{#if showLegPoints}}
                        {{#each event.legs}}
                            <td>
                                <a href="{{this.legUrl}}">{{this.legColumnHeader}}</a>
                            </td>
                        {{/each}}
                    {{/if}}
                    {{#if showStagePoints}}
                        <td>{{localization.stage_points}}</td>
                    {{/if}}
                    {{#if showPowerStagePoints}}
                        <td>{{localization.ps}} {{localization.points}}</td>
                    {{/if}}
                    <td>{{localization.points}}</td>
                    <td>{{localization.total_points}}</td>
                </tr>
                </thead>
                <tbody>
                {{#each rows}}
                    <tr>
                        <td>{{this.position}}</td>
                        <td>
                            <img src="./assets/country-flags/{{this.country.code}}.png" style="max-width:1.5em; max-height:1.5em;" alt="{{this.country.code}}" title="{{this.country.code}}"/>
                        </td>
                        <td class="text-left bold">{{this.driver.name}}</td>
                        {{#if ../overall}}
                            <td>{{this.divisionDisplayName}}</td>
                        {{/if}}
                        {{#if ../showTeam}}
                            {{#unless ../hideTeamLogoColumn}}
                                <td>
                                    <img src="{{teamLogo}}" style="max-width:2em; max-height:2em;" alt="{{this.teamId}}" title="{{this.teamId}}"/>
                                </td>
                            {{/unless}}
                            {{#if ../showTeamNameTextColumn}}
                                <td class="text-left">{{this.teamId}}</td>
                            {{/if}}
                       {{/if}}
                        {{#if ../showCar}}
                            <td>
                                <img src="./assets/cars/{{this.car}}.png" style="max-width:2em; max-height:2em;" alt="{{this.car}}" title="{{this.car}}"/>
                            </td>
                            {{#if ../showCarName}}
                                <td class="text-left">
                                    {{this.entry.vehicleName}}
                                </td>
                            {{/if}}
                        {{/if}}
                        {{#if ../showPowerStage}}
                            <td>{{this.stageTimeDisplay}}</td>
                            <td>{{this.entry.stageDiff}}</td>
                        {{/if}}
                        {{#if this.entry.extraInfo}}
                        <td class="popup" onclick="openPopup('{{this.entry.name}}')">
                            {{this.totalTimeDisplay}}
                            <span class="popuptext" id="{{this.entry.name}}">{{this.entry.extraInfo}}</span>
                        </td>
                        {{else}}
                        <td>{{this.totalTimeDisplay}}</td>
                        {{/if}}
                        <td>{{this.entry.totalDiff}}</td>
                        {{#if ../showSuperRallyColumn}}
                            <td>
                                {{this.entry.superRally}}
                            </td>
                        {{/if}}
                        {{#if ../showLegPoints}}
                            {{#each this.legPoints}}
                                <td>{{this}}</td>
                            {{/each}}
                        {{/if}}
                        {{#if ../showStagePoints}}
                            <td>{{this.stagePoints}}</td>
                        {{/if}}
                        {{#if ../showPowerStagePoints}}
                            <td>{{this.powerStagePoints}}</td>
                        {{/if}}
                        <td>{{this.overallPoints}}</td>
                        <td class="bold">{{this.pointsDisplay}}</td>
                    </tr>
                {{/each}}
                </tbody>

            </table>
            <div style="margin:0 auto; text-align:center;">
                <p>{{localization.last_updated}}: {{lastUpdatedAt}}</p>
            </div>
            {{#if event.enduranceRoundMultiplier}}
                <div style="margin:0 auto; text-align:center;">
                    <p>{{localization.endurance_multiplied}} {{event.enduranceRoundMultiplier}}</p>
                </div>
            {{/if}}
            {{#if fullResultsLink}}
                <div style="margin:0 auto; text-align:center;">
                    <a href="{{fullResultsLink}}" target="_none">{{localization.full_results}}</a>
                </div>
            {{/if}}
        </div>
    </div>
</div>

{{{scripts}}}
</body>

</html>