<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="stylesheet" href="./assets/css/w3.css">
  <link rel="stylesheet" href="./assets/css/style.css">

  <link rel="icon" href="./assets/{{logo}}">
  <title>
    {{siteTitlePrefix}} |
    {{#if links.active.menu}}
      {{links.active.menu}} {{links.active.link}}
    {{else}}
      Home
    {{/if}}
  </title>
</head>

<body style="{{this.backgroundStyle}}">
	{{{navigation}}}

	<div class="container">
		<div class="flexContainer">
			<div class="flexBox">
			<div style="margin-bottom: 1em;" class="hide-large hide-medium hide-small">
				<div class="logo" style="display:flex;">
					<img src="./assets/fantasy.jpg" />
					<h2 style="margin-left:1em;">{{localization.driver_standings}}</h2>
				</div>
			</div>
			<div class="column-filter">
				<button class="column-filter__btn" type="button" aria-label="Filter columns">
					<span>Filter Columns</span>
				</button>
				<div class="column-filter__menu">
					<div class="column-filter__items"></div>
					<div class="column-filter__actions">
						<button class="column-filter__action-btn" data-action="show-all">Show All</button>
						<button class="column-filter__action-btn" data-action="close">Close</button>
					</div>
				</div>
			</div>
			<div class="table-scroll-indicator" id="tableScrollIndicator" aria-hidden="true">
				<div class="table-scroll-indicator__content"></div>
			</div>
			<div class="table-scroll-wrapper">
				<table id="tableDrivers">
				<thead>
					<tr>
						<th class="th-pos"></th>
						<th class="th-change"></th>
						<th class="th-driver">{{localization.driver}}</th>
						<th class="th-location"><img src="./assets/country-flags/mco.png" /></th>
						<th class="th-location"><img src="./assets/country-flags/swe.png" /></th>
						<th class="th-location"><img src="./assets/country-flags/usa.png" /></th>
						<th class="th-location"><img src="./assets/country-flags/arg.png" /></th>
						<th class="th-location"><img src="./assets/country-flags/pol.png" /></th>
						<th class="th-location"><img src="./assets/country-flags/deu.png" /></th>
						<th class="th-location"><img src="./assets/country-flags/nzl.png" /></th>
						<th class="th-location"><img src="./assets/country-flags/aus.png" /></th>
						<th class="th-points">{{localization.points}}</th>
						<th class="th-gap">{{localization.gap}}</th>
					</tr>
				</thead>
				<tbody>
					{{#each drivers}}{{#with this}}
					<tr>
						<td class="td-pos">{{rank}}</td>
						<td class="td-change">
							{{#if positive}}
							<span class="positive"><i class="arrow up"></i>&nbsp;{{evolution}}</span>
							{{/if}}
							{{#if neutral}}
							<span class="neutral">=</span>
							{{/if}}
							{{#if negative}}
							<span class="negative"><i class="arrow down"></i>&nbsp;{{evolution}}</span>
							{{/if}}
						</td>
						<td class="td-driver text-left bold">{{name}}</td>
						<td class="td-result">{{[MONTE CARLO]}}</td>
						<td class="td-result">{{VÄRMLAND}}</td>
						<td class="td-result">{{[NEW ENGLAND]}}</td>
						<td class="td-result">{{[CATAMARCA PROVINCE]}}</td>
						<td class="td-result">{{[ŁĘCZNA COUNTY]}}</td>
						<td class="td-result">{{[BAUMHOLDER]}}</td>
						<td class="td-result">{{[HAWKES BAY]}}</td>
						<td class="td-result">{{[MONARO]}}</td>
						<td class="td-points bold">{{total}}</td>
						<td class="td-gap">{{gap}}</td>
					</tr>
					{{/with}}{{/each}}
				</tbody>

			</table>
			</div>
			</div>
		</div>
	</div>

	<script src="./assets/js/app.js" defer></script>
</body>

</html>
