<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/animation.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/w3.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="./assets/jrc_round.jpg">
</head>

<body>
	{{{navigation}}}

	<div id="container">
		<div id="flexContainer">
			<div class="flexBox">
				<div style="margin-bottom: 1em;" class="w3-hide-large w3-hide-medium w3-hide-small">
					<div class="logo" style="display:flex;">
						<img src="./assets/fantasy.jpg" />
						<h2 style="margin-left:1em;">Driver Standings</h2>
					</div>
				</div>
				<table id="tableDrivers">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th>Driver</th>
							<th><img src="./assets/country-flags/mco.png" /></th>
							<th><img src="./assets/country-flags/swe.png" /></th>
							<th><img src="./assets/country-flags/aus.png" /></th>
							<th><img src="./assets/country-flags/pol.png" /></th>
							<th><img src="./assets/country-flags/fin.png" /></th>
							<th><img src="./assets/country-flags/esp.png" /></th>
							<th><img src="./assets/country-flags/usa.png" /></th>
							<th><img src="./assets/country-flags/gbr.png" /></th>
							<th>Points</th>
							<th>Gap</th>
						</tr>
					</thead>
					<tbody>
						{{#each drivers}}{{#with this}}
						<tr>
							<td>{{rank}}</td>
							<td>
								{{#if positive}}
								<span class="positive"><i class="arrow up"></i>&nbsp;{{evolution}}</span>
								{{/if}}
								{{#if neutral}}
								<span class="neutral">=</span>
								{{/if}}
								{{#if negative}}
								<span class="negative"><i class="arrow down"></i>&nbsp;{{evolution}}</span>
								{{/if}}
							</td>
							<td class="text-left bold">{{name}}</td>
							<td>{{[MONTE CARLO]}}</td>
							<td>{{VÄRMLAND}}</td>
							<td>{{[MONARO]}}</td>
							<td>{{[ŁĘCZNA COUNTY]}}</td>
							<td>{{[JÄMSÄ]}}</td>
							<td>{{[RIBADELLES]}}</td>
							<td>{{[NEW ENGLAND]}}</td>
							<td>{{[PERTH AND KINROSS]}}</td>
							<td class="bold">{{total}}</td>
							<td>{{gap}}</td>
						</tr>
						{{/with}}{{/each}}
					</tbody>

				</table>
			</div>
		</div>
	</div>

	<!--
        DROPDOWN
    -->
	<script>
		function openNav() {
			var x = document.getElementById("mobileNav");
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
			} else {
				x.className = x.className.replace(" w3-show", "");
			}
		}
	</script>
	<!--
        BACKGROUND ANIMATION
    -->
	<div id="particles-js"></div>
	<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script src="./assets/particleConfig.js"></script>
</body>

</html>