<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/animation.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/w3.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style>
		.collapsed {
			visibility: collapse;
		}
	</style>
    <link rel="icon" href="./assets/{{logo}}">
</head>

<body style="{{this.backgroundStyle}}">
	{{{navigation}}}
	<div class="container">
		<div class="flexContainer">
			<div class="flexBox">
			<div class="mb-1 hide-large hide-medium hide-small">
				<div class="logo d-flex">
					<img src="./assets/fantasy.jpg" />
					<h2 class="ml-1">{{localization.team_standings}}</h2>
				</div>
			</div>
			<div class="column-filter">
				<button class="column-filter__btn" type="button" aria-label="Filter columns">
					<span>Filter Columns</span>
				</button>
				<div class="column-filter__menu">
					<div class="column-filter__items"></div>
					<div class="column-filter__actions">
						<button class="column-filter__action-btn" data-action="show-all">Show All</button>
						<button class="column-filter__action-btn" data-action="close">Close</button>
					</div>
				</div>
			</div>
			<div class="table-scroll-indicator" id="tableScrollIndicator" aria-hidden="true">
				<div class="table-scroll-indicator__content"></div>
			</div>
			<div class="table-scroll-wrapper">
			<table id="tableTeams">
				<thead>
					<tr>
						<th class="th-pos"></th>
						<th class="th-change"></th>
						<th class="th-team-name">{{localization.team}}</th>
						<th class="th-budget">💰</th>
						<th class="th-location"><img src="./assets/country-flags/mco.png" /></th>
						<th class="th-location"><img src="./assets/country-flags/swe.png" /></th>
						<th class="th-location"><img src="./assets/country-flags/usa.png" /></th>
						<th class="th-location"><img src="./assets/country-flags/arg.png" /></th>
						<th class="th-location"><img src="./assets/country-flags/pol.png" /></th>
						<th class="th-location"><img src="./assets/country-flags/deu.png" /></th>
						<th class="th-location"><img src="./assets/country-flags/nzl.png" /></th>
						<th class="th-location"><img src="./assets/country-flags/aus.png" /></th>
						<th class="th-points">{{localization.points}}</th>
						<th class="th-gap">{{localization.gap}}</th>
					</tr>
				</thead>
				<tbody>
					{{#each teams}}{{#with this}}
					<tr>
						<td class="td-pos">{{rank}}</td>
						<td class="td-change">
							{{#if positive}}
							<span class="positive"><i class="arrow up"></i>&nbsp;{{evolution}}</span>
							{{/if}}
							{{#if neutral}}
							<span class="neutral">=</span>
							{{/if}}
							{{#if negative}}
							<span class="negative"><i class="arrow down"></i>&nbsp;{{evolution}}</span>
							{{/if}}
						</td>
						<td class="td-team-name text-left bold">{{name}} <small>( {{drivers}} )</small></td>
						<td class="td-budget">${{budget}}</td>
						<td class="td-result">{{[MONTE CARLO]}}</td>
						<td class="td-result">{{VÄRMLAND}}</td>
						<td class="td-result">{{[NEW ENGLAND]}}</td>
						<td class="td-result">{{[CATAMARCA PROVINCE]}}</td>
						<td class="td-result">{{[ŁĘCZNA COUNTY]}}</td>
						<td class="td-result">{{[BAUMHOLDER]}}</td>
						<td class="td-result">{{[HAWKES BAY]}}</td>
						<td class="td-result">{{[MONARO]}}</td>
						<td class="td-points bold">{{points}}</td>
						<td class="td-gap">{{gap}}</td>
					</tr>
					{{/with}}{{/each}}
				</tbody>

			</table>
			</div>


			</div>

			<div class="flexBox">
				<h2>This week's JRC Best Buys&#8482;</h2>
				<table id="bestBuys">
					<thead>
						<tr>
							<th class="th-driver">{{localization.driver}}</th>
							<th class="th-cost">{{localization.cost}}</th>
							<th class="th-profit">{{localization.profit}}</th>
							<th class="th-value">{{localization.value}}</th>
						</tr>
					</thead>
					<tbody>
						{{#each bestBuy}}{{#with this}}
						<tr>
							<td class="td-driver text-left bold">{{name}}</td>
							<td class="td-cost">{{cost}}</td>
							<td class="td-profit">{{total}}</td>
							<td class="td-value bold">{{value}}</td>
						</tr>
						{{/with}}{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--
        DROPDOWN
    -->
	<script>
		var teamDiv = document.getElementById("teamNav")
		var topNav = document.getElementsByClassName("w3-top")[0];
		topNav.appendChild(teamDiv);
		function openNav() {
			var x = document.getElementById("mobileNav");
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
			} else {
				x.className = x.className.replace(" w3-show", "");
			}
		}
	</script>
	<script src="./assets/js/app.js" defer></script>
</body>

</html>
