<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="stylesheet" href="./assets/css/style.css">

  <link rel="icon" href="./assets/{{logo}}">
  <title>{{pageTitle}}</title>
</head>
  <body style="{{backgroundStyle}}">
    {{{navigation}}}
    {{{body}}}
    <script src="./assets/js/app.js" defer></script>
  </body>
</html>
