<head>
	<title>
		JRC | 
		{{#if links.active.menu}}
			{{links.active.menu}} {{links.active.link}} 
			{{else}}
			Home
		{{/if}}
	</title>
</head>

<div class="w3-top">
	<div class="w3-bar w3-black" style="text-align:center;">
		<div class="logo">
			<a href="./index.html">
				<img src="./assets/jrc_round.jpg">
			</a>
		</div>
		<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large" style="font-size:3em;"
			onclick="openNav()">&#9776;</a>

		
		<h3 class="w3-hide-large navTitle bold" style="display:block;">
			{{links.active.menu}} - {{links.active.link}} 
			{{#if endTime}}<br><span id="countdown"></span>{{/if}}
		</h3>
		
		
		{{#if links.driver}}
		<div class="w3-dropdown-hover w3-hide-small w3-hide-medium">
			<button class="w3-button">Driver Standings</button>
			<div class="w3-dropdown-content w3-bar-block w3-card-4 w3-hide-small w3-hide-medium">
				{{#with links.driver}}
				{{#each this}}
				<a href="{{href}}" class="w3-bar-item w3-button {{#if active}}active{{/if}}">{{link}}</a>
				{{/each}}
				{{/with}}
			</div>
		</div>
		{{/if}}

		{{#if links.team}}
		<div class="w3-dropdown-hover w3-hide-small w3-hide-medium">
			<button class="w3-button">Team Standings</button>
			<div class="w3-dropdown-content w3-bar-block w3-card-4 w3-hide-small w3-hide-medium">
				{{#with links.team}}
				{{#each this}}
				<a href="{{href}}" class="w3-bar-item w3-button {{#if active}}active{{/if}}">{{link}}</a>
				{{/each}}
				{{/with}}
			</div>
		</div>
		{{/if}}

		{{#if links.fantasy}}
		<div class="w3-dropdown-hover w3-hide-small w3-hide-medium">
			<button class="w3-button">Fantasy JRC</button>
			<div class="w3-dropdown-content w3-bar-block w3-card-4 w3-hide-small">
				{{#with links.fantasy}}
				{{#each this}}
				<a href="{{href}}" class="w3-bar-item w3-button {{#if active}}active{{/if}}">{{link}}</a>
				{{/each}}
				{{/with}}
			</div>
		</div>
		{{/if}}

		{{#if links.JRC1}}
		<div class="w3-dropdown-hover w3-hide-small w3-hide-medium">
			<button class="w3-button">JRC1</button>
			<div class="w3-dropdown-content w3-bar-block w3-card-4 w3-hide-small">
				{{#with links.JRC1}}
				{{#each this}}
				<a href="{{href}}" class="w3-bar-item w3-button {{#if active}}active{{/if}}">{{link}}</a>
				{{/each}}
				{{/with}}
			</div>
		</div>
		<div class="w3-dropdown-hover w3-hide-small w3-hide-medium">
			<button class="w3-button">JRC2</button>
			<div class="w3-dropdown-content w3-bar-block w3-card-4 w3-hide-small">
				{{#with links.JRC2}}
				{{#each this}}
				<a href="{{href}}" class="w3-bar-item w3-button {{#if active}}active{{/if}}">{{link}}</a>
				{{/each}}
				{{/with}}
			</div>
		</div>
		<div class="w3-dropdown-hover w3-hide-small w3-hide-medium">
			<button class="w3-button">JRC3</button>
			<div class="w3-dropdown-content w3-bar-block w3-card-4 w3-hide-small">
				{{#with links.JRC3}}
				{{#each this}}
				<a href="{{href}}" class="w3-bar-item w3-button {{#if active}}active{{/if}}">{{link}}</a>
				{{/each}}
				{{/with}}
			</div>
		</div>
		<div class="w3-dropdown-hover w3-hide-small w3-hide-medium">
			<button class="w3-button">overall</button>
			<div class="w3-dropdown-content w3-bar-block w3-card-4 w3-hide-small">
				{{#with links.overall}}
				{{#each this}}
				<a href="{{href}}" class="w3-bar-item w3-button {{#if active}}active{{/if}}">{{link}}</a>
				{{/each}}
				{{/with}}
			</div>
		</div>
		{{/if}}

		{{#if endTime}}
		
		<div class="w3-bar-item w3-right w3-hide-small w3-hide-medium">
			<div class="logo">
				<img src="./assets/country-flags/{{activeCountry}}.png" style="max-height: 0.9em;border-radius: 0.3em;"/>
			</div>
			<span id="countdown2"></span>
		</div>
		{{/if}}
	</div>
	
	<div id="mobileNav" class="w3-bar-block w3-black w3-hide w3-hide-large" style="overflow-y:scroll;max-height:95vh;">
		{{#with links.driver}}
		{{#each this}}
		<a href="{{href}}" class="w3-bar-item w3-button {{#if active}}active{{/if}}">Driver Standings - {{link}}</a>
		{{/each}}
		{{/with}}
		{{#with links.team}}
		{{#each this}}
		<a href="{{href}}" class="w3-bar-item w3-button {{#if active}}active{{/if}}">Team Standings - {{link}}</a>
		{{/each}}
		{{/with}}
		{{#with links.fantasy}}
		{{#each this}}
		<a href="{{href}}" class="w3-bar-item w3-button {{#if active}}active{{/if}}">Fantasy JRC - {{link}}</a>
		{{/each}}
		{{/with}}
		{{#with links.JRC1}}
		{{#each this}}
		<a href="{{href}}" class="w3-bar-item w3-button {{#if active}}active{{/if}}">JRC1 - {{link}}</a>
		{{/each}}
		{{/with}}
		{{#with links.JRC2}}
		{{#each this}}
		<a href="{{href}}" class="w3-bar-item w3-button {{#if active}}active{{/if}}">JRC2 - {{link}}</a>
		{{/each}}
		{{/with}}
		{{#with links.JRC3}}
		{{#each this}}
		<a href="{{href}}" class="w3-bar-item w3-button {{#if active}}active{{/if}}">JRC3 - {{link}}</a>
		{{/each}}
		{{/with}}
		{{#with links.overall}}
		{{#each this}}
		<a href="{{href}}" class="w3-bar-item w3-button {{#if active}}active{{/if}}">overall - {{link}}</a>
		{{/each}}
		{{/with}}
	</div>

	{{#if secondary}}
	<div class="w3-bar w3-light-grey secondaryNav">
		{{#each secondary}}
			<a href="./{{../links.active.link}}-{{this}}-driver-results.html">
				<img src="./assets/country-flags/{{this}}.png" />
			</a>
		{{/each}}
	</div>
	{{/if}}
</div>
{{#if endTime}}
<script>
	// Set the date we're counting down to
	var countDownDate = new Date("{{endTime}}").getTime();

	// Update the count down every 1 second
	var x = setInterval(function() {

	// Get today's date and time
	var now = new Date().getTime();
		
	// Find the distance between now and the count down date
	var distance = countDownDate - now;
		
	// Time calculations for days, hours, minutes and seconds
	var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	var seconds = Math.floor((distance % (1000 * 60)) / 1000);
		
	// Output the result in an element with id="demo"
	document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
	+ minutes + "m " + seconds + "s ";
	document.getElementById("countdown2").innerHTML = days + "d " + hours + "h "
	+ minutes + "m " + seconds + "s ";
		
	// If the count down is over, write some text 
	if (distance < 0) {
		clearInterval(x);
		document.getElementById("countdown").innerHTML = "Event Ended";
		document.getElementById("countdown2").innerHTML = "Event Ended";
	}
	}, 1000);
</script>
{{/if}}