<div class="container">
    <div class="flexContainer">
        <div class="flexBox">
            <div class="mb-1">
                <div class="logo d-flex">
                    <img src="./assets/{{logo}}" />
                    <h2 class="ml-1">{{title}} {{location.countryName}} >{{localization.driver_results}}</h2>
                </div>
            </div>
            <div class="column-filter">
                <button class="column-filter__btn" type="button" aria-label="Filter columns">
                    <span>Filter Columns</span>
                </button>
                <div class="column-filter__menu">
                    <div class="column-filter__items"></div>
                    <div class="column-filter__actions">
                        <button class="column-filter__action-btn" data-action="show-all">Show All</button>
                        <button class="column-filter__action-btn" data-action="close">Close</button>
                    </div>
                </div>
            </div>
            <div class="table-scroll-wrapper">
            <table id="tableDrivers">
                <thead>
                <tr>
                    <th>{{localization.pos}}</th>
                    <th>{{localization.nat}}</th>
                    <th>{{localization.driver}}</th>

					<th>{{localization.div}}</th>
					<th>SS1</th>
					<th>SS2</th>
					<th>SS3</th>
					<th>SS4</th>
                    <td>{{localization.total}}</td>
                </tr>
                </thead>
                <tbody>
                {{#each rows}}
                    <tr>
                        <td>{{this.position}}</td>
                        <td>
                            <img src="./assets/country-flags/{{this.country.code}}.png" class="img-sm" />
                        </td>
                        <td class="text-left bold">{{this.name}}</td>
						<td>{{this.divisionDisplayName}}</td>
						{{#each stageTimes}}
							<td style="background-color: {{this.colour}}">{{this.time}}</td>
							{{else}}
							<td>0</td><td>0</td><td>0</td><td>0</td>
						{{/each}}
                        {{!-- <td>{{this.entry.stageTime}}</td> --}}
                        <td style="font-weight:bold;">{{this.entry.totalTime}}</td>
                    </tr>
                {{/each}}
                </tbody>
                </table>
            </div>
            <div class="text-center">
                <p>{{localization.last_updated}}: {{lastUpdatedAt}}</p>
            </div>
        </div>
    </div>
</div>
