<div class="container">
    <div class="flexContainer">
        <div class="flexBox">
            <div style="margin-bottom: 1em;" class="">
                <div class="logo" style="display:flex;">
                    <img src="./assets/{{logo}}" />
                    <h2 style="margin-left:1em;">{{title}} {{location.countryName}} >{{localization.driver_results}}</h2>
                </div>
            </div>

            <div class="table-scroll-wrapper">
            <table id="tableDrivers">
                <thead>
                <tr>
                    <th>{{localization.pos}}</th>
                    <th>{{localization.nat}}</th>
                    <th>{{localization.driver}}</th>

					<th>{{localization.div}}</th>
					<th>SS1</th>
					<th>SS2</th>
					<th>SS3</th>
					<th>SS4</th>
                    <td>{{localization.total}}</td>
                </tr>
                </thead>
                <tbody>
                {{#each rows}}
                    <tr>
                        <td>{{this.position}}</td>
                        <td>
                            <img src="./assets/country-flags/{{this.country.code}}.png" style="max-width:1.5em; max-height:1.5em;" />
                        </td>
                        <td class="text-left bold">{{this.name}}</td>
						<td>{{this.divisionDisplayName}}</td>
						{{#each stageTimes}}
							<td style="background-color: {{this.colour}}">{{this.time}}</td>
							{{else}}
							<td>0</td><td>0</td><td>0</td><td>0</td>
						{{/each}}
                        {{!-- <td>{{this.entry.stageTime}}</td> --}}
                        <td style="font-weight:bold;">{{this.entry.totalTime}}</td>
                    </tr>
                {{/each}}
                </tbody>
                </table>
            </div>
            <div style="margin:0 auto; text-align:center;">
                <p>{{localization.last_updated}}: {{lastUpdatedAt}}</p>
            </div>
        </div>
    </div>
</div>
