<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/animation.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/w3.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="./assets/jrc_round.jpg">
</head>

<body>
    {{{navigation}}}
    <div id="container">
        <div id="flexContainer">
            <div class="flexBox">
                <div style="margin-bottom: 1em;" class="w3-hide-medium w3-hide-small">
                    <div class="logo" style="display:flex;">
                        <img src="./assets/jrc_round.jpg" />
                        <h2 style="margin-left:1em;">{{title}} Team Standings</h2>
                    </div>
                </div>

                <table id="tableDrivers">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Team</th>
                            {{#each headerLocations}}
                            <th><img src="./assets/country-flags/{{this}}.png" /></th>
                            {{/each}}
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each rows}}{{#with this}}
                        <tr>
                            <td>{{standing.currentPosition}}</td>
                            <td>
                                {{#if positive}}
                                <span class="positive"><i class="arrow up"></i>&nbsp;{{standing.positionChange}}</span>
                                {{/if}}
                                {{#if neutral}}
                                <span class="neutral">=</span>
                                {{/if}}
                                {{#if negative}}
                                <span class="negative"><i
                                        class="arrow down"></i>&nbsp;{{standing.positionChange}}</span>
                                {{/if}}
                            </td>
                            <td>
                                <img src="./assets/teams/{{standing.name}}.png"
                                    style="max-width:2em; max-height:2em;" />
                            </td>
                            <td class="text-left bold">{{standing.name}}</td>
                            {{#each results}}{{#with this}}
                            <td>
                                {{pointsDisplay}}
                            </td>
                            {{/with}}{{/each}}
                            <td class="bold">{{standing.totalPoints}}</td>
                        </tr>
                        {{/with}}{{/each}}
                    </tbody>

                </table>
                <div style="margin:0 auto; text-align:center;">
                    <p>last updated at: {{lastUpdatedAt}}</p>
                </div>
            </div>
        </div>
    </div>

    <div id="particles-js"></div>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="./assets/particleConfig.js"></script>
    <script>
        function openNav() {
            var x = document.getElementById("mobileNav");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
</body>

</html>