<div class="container">
  <div class="flexContainer">
    <div class="flexBox">
      <div class="mb-1 hide-medium hide-small">
        <div class="logo d-flex">
          <img src="./assets/{{logo}}" />
          <h2 class="ml-1">{{title}} {{localization.team_standings}}</h2>
        </div>
      </div>
      <div class="column-filter">
        <button class="column-filter__btn" type="button" aria-label="Filter columns">
          <span>Filter Columns</span>
        </button>
        <div class="column-filter__menu">
          <div class="column-filter__items"></div>
          <div class="column-filter__actions">
            <button class="column-filter__action-btn" data-action="show-all">Show All</button>
            <button class="column-filter__action-btn" data-action="close">Close</button>
          </div>
        </div>
      </div>
      <div class="table-scroll-indicator" id="tableScrollIndicator" aria-hidden="true">
        <div class="table-scroll-indicator__content"></div>
      </div>
      <div class="table-scroll-wrapper">
        <table id="tableDrivers">
          <thead>
            <tr>
              <th class="th-pos">{{localization.pos}}</th>
              <th class="th-change"></th>
              {{#unless hideTeamLogoColumn}}
              <th class="th-team-logo"></th>
              {{/unless}}
              <th class="th-team-name">{{localization.team_name}}</th>
              {{#each headerLocations}}
              <th class="th-location">
                <img src="./assets/country-flags/{{this.locationCode}}.png" alt="{{this.locationCode}}" />
              </th>
              {{/each}}
              <th class="th-points">{{localization.points}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each rows}}
            {{#with this}}
            <tr>
              <td class="td-pos">{{standing.currentPosition}}</td>
              <td class="td-change">
                {{#if positive}}
                <span class="positive">
                  <i class="arrow up"></i>&nbsp;{{standing.positionChange}}
                </span>
                {{/if}}
                {{#if neutral}}
                <span class="neutral">=</span>
                {{/if}}
                {{#if negative}}
                <span class="negative">
                  <i class="arrow down"></i>&nbsp;{{standing.positionChange}}
                </span>
                {{/if}}
              </td>
              {{#if ../useNationalityAsTeam}}
              {{#unless ../hideTeamLogoColumn}}
              <td class="td-team-logo">
                <img src="./assets/country-flags/{{country.code}}.png" class="img-md"
                  alt="{{country.code}}" />
              </td>
              {{/unless}}
              <td class="td-team-name text-left bold">{{country.name}}</td>
              {{else}}
              {{#unless ../hideTeamLogoColumn}}
              <td class="td-team-logo">
                <img src="{{teamLogo}}" class="img-md" alt="{{standing.name}}"
                  title="{{standing.name}}" />
              </td>
              {{/unless}}
              <td class="td-team-name text-left bold">{{standing.name}}</td>
              {{/if}}
              {{#each results}}
              {{#with this}}
              <td class="td-result">
                {{pointsDisplay}}
              </td>
              {{/with}}
              {{/each}}
              <td class="td-points bold">{{standing.totalPoints}}</td>
            </tr>
            {{/with}}
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="text-center">
        <p>{{localization.last_updated}}: {{lastUpdatedAt}}</p>
      </div>
    </div>
  </div>
</div>